.overlay {
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 4;
    background-color: rgb(0, 0, 0, 0.5);
}
.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/icons8-back-to-100.png);
}
.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/icons8-next-page-100.png);
}
